# fastapi
# uvicorn
# sqlalchemy
# psycopg2-binary
# python-jose
# passlib
# bcrypt
# python-multipart
# python-dotenv
# email-validator
# bcrypt==4.0.1

# =========================
# BACKEND
# =========================
fastapi==0.115.0
uvicorn[standard]==0.30.6

sqlalchemy==2.0.35
psycopg2-binary==2.9.9

python-jose[cryptography]==3.3.0

passlib[bcrypt]==1.7.4
bcrypt==4.0.1

python-multipart==0.0.9
python-dotenv==1.0.1
email-validator==2.2.0

# =========================
# ML / DL
# =========================
torch

transformers==4.41.2

sentencepiece==0.2.0

accelerate==0.33.0

numpy==1.26.4

scikit-learn==1.5.1

pandas==2.2.2

tqdm==4.66.5

torchvision==0.15.2
Pillow==10.4.0
